@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Tampa, FL 32306<br />
    <abbr title="Phone">P:</abbr>
    555.867.5309
</address>

<address>
    <strong>Contact us:</strong> <a href="mailto:tone.pondaharn@gmail.com">tone.pondaharn@gmail.com</a>
</address>