@{
ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-lg-6">
        @{Html.RenderPartial("LogInAsync");}
    </div>
    <div class="col-lg-6">
        @{Html.RenderPartial("RegisterAsync");}
    </div>

</div> 

<div>
    @{Html.RenderPartial("LogoutAsync");}
</div>