@model Gilligan.MVC.ViewModels.User.UserSongViewModel

@{
    ViewBag.Title = "RateSong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RateSong</h2>

@using (Html.BeginForm("CreateRating", "User", FormMethod.Post))
{
    <div>
    Html.DropDownListFor(x => x.UserId, Model.UserItems);
    </div>

    <div>
        Html.DropDownListFor(x => x.SongId, Model.SongItems);
    </div>

    @:<div><input type="number" /></div>

    @:<div><input type="submit" value="Submit" /></div>

}